.item {
  float: left;
  width: 28vw;
  height: 58.6666667vw;
  margin-left: 4vw;
}
.item-title {
  height: 6.4vw;
  margin-top: 1.3333333vw;
  line-height: 6.4vw;
  font-size: 14px;
  text-align: center;
  color: #494949;
}
