.class {
  border: 0.4vw solid black;
  margin-top: 0;
  border-bottom-width: 1px;
}

[data-dpr="1"] .class {
  font-size: 1.8666667vw;
  line-height: 2.6666667vw;
}

[data-dpr="2"] .class {
  font-size: 1.8666667vw;
  line-height: 2.6666667vw;
}

[data-dpr="3"] .class {
  font-size: 1.8666667vw;
  line-height: 2.6666667vw;
}

.class2 {
  border: 1px solid black;
  margin-bottom: 1px;
}

[data-dpr="1"] .class2 {
  font-size: 2.6666667vw;
  line-height: 4vw;
}

[data-dpr="2"] .class2 {
  font-size: 2.6666667vw;
  line-height: 4vw;
}

[data-dpr="3"] .class2 {
  font-size: 2.6666667vw;
  line-height: 4vw;
}

@media (min-width: 100vw) {
  .class3 {
    font-size: 2.1333333vw;
    line-height: 2.9333333vw;
  }
}

/*
.class {
    font-size: 16px;
}
*/