html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline:none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow: hidden;
}

.empty {

}

.class {
  border: 1px solid black;/*px*/
  margin-top: 0px;/*px*/
  border-bottom-width: 1px;/*no*/
  font-size: 14px;/*px*/
  line-height: 20px;/*px*/
  border-width: 1px;/*px*/
  background-size: 30px 10px;
  animation: anim1 linear infinite;
}
.class2 {
  border: 1px solid black;
  width: 750px;
  margin-bottom: 1px;/*no*/
  font-size: 20px;/*px*/
  line-height: 30px;/*px*/
  background-size: 20px 10px;/*px*/
  animation: anim12linear infinite;
}

.class3,
.class4 {
  margin: 0px 20px;
  width: 750px;
  height: 100px;/*px*/
  font-size: 24px;/*px*/
}

@media (min-width: 750px) {
  .class3 {
    font-size: 16px;/*px*/
    line-height: 22px;
    animation: anim3 linear infinite;
  }

  .class4 {
    width: 600px;
    font-size: 32px;/*px*/
    border: 1px solid #ccc;/*no*/
  }

  @-webkit-keyframes anim3 {
    0%, 100% {
      -webkit-transform: none;
    }
    20%, 60% {
      -webkit-transform: rotate(-45deg);
    }
    40%, 80% {
      -webkit-transform: rotate(45deg);
    }
  }
}

@-webkit-keyframes anim1 {
  0%, 100% {
    -webkit-transform: none;
  }
  20%, 60% {
    -webkit-transform: rotate(-45deg);
  }
  40%, 80% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes anim2 {
  0% {
    height: 75px; /*px*/
    width: 75px;
    border: 1px solid #ddd; /*no*/
  }
  100% {
    height: 150px;
    width: 150px;
    border: 2px solid #ddd; /*no*/
  }
}

/*
.class {
    font-size: 16px;
}
*/
